<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>hrTeth</key>
		<string>hrT_eth.glif</string>
		<key>hrWaw</key>
		<string>hrW_aw.glif</string>
		<key>hrYodh</key>
		<string>hrY_odh.glif</string>
		<key>pnNun</key>
		<string>pnN_un.glif</string>
	</dict>
</plist>
