<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>copyright.S</key>
		<string>copyright.S_.glif</string>
		<key>five.Dnom</key>
		<string>five.D_nom.glif</string>
		<key>four.Dnom</key>
		<string>four.D_nom.glif</string>
		<key>seven.Dnom</key>
		<string>seven.D_nom.glif</string>
		<key>three.Dnom</key>
		<string>three.D_nom.glif</string>
		<key>two.Dnom</key>
		<string>two.D_nom.glif</string>
	</dict>
</plist>
