<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>aiAyin</key>
		<string>aiA_yin.glif</string>
		<key>aiShin</key>
		<string>aiS_hin.glif</string>
		<key>cedi.S</key>
		<string>cedi.S_.glif</string>
		<key>colonmonetary.S</key>
		<string>colonmonetary.S_.glif</string>
		<key>copyright.S</key>
		<string>copyright.S_.glif</string>
		<key>eight.S</key>
		<string>eight.S_.glif</string>
		<key>five.Dnom</key>
		<string>five.D_nom.glif</string>
		<key>five.S</key>
		<string>five.S_.glif</string>
		<key>four.Dnom</key>
		<string>four.D_nom.glif</string>
		<key>four.S</key>
		<string>four.S_.glif</string>
		<key>heAlef</key>
		<string>heA_lef.glif</string>
		<key>heAlefLamed</key>
		<string>heA_lefL_amed.glif</string>
		<key>heAlefWide</key>
		<string>heA_lefW_ide.glif</string>
		<key>heDagesh</key>
		<string>heD_agesh.glif</string>
		<key>heDaletWide</key>
		<string>heD_aletW_ide.glif</string>
		<key>heHatafQamats</key>
		<string>heH_atafQ_amats.glif</string>
		<key>heHatafQamatsQatan</key>
		<string>heH_atafQ_amatsQ_atan.glif</string>
		<key>heHeWide</key>
		<string>heH_eW_ide.glif</string>
		<key>heHiriq</key>
		<string>heH_iriq.glif</string>
		<key>heHolam</key>
		<string>heH_olam.glif</string>
		<key>heHolamHaser</key>
		<string>heH_olamH_aser.glif</string>
		<key>heKafWide</key>
		<string>heK_afW_ide.glif</string>
		<key>heLamedWide</key>
		<string>heL_amedW_ide.glif</string>
		<key>heMem</key>
		<string>heM_em.glif</string>
		<key>heMemFinWide</key>
		<string>heM_emF_inW_ide.glif</string>
		<key>hePe</key>
		<string>heP_e.glif</string>
		<key>hePeFin</key>
		<string>heP_eF_in.glif</string>
		<key>heQamats</key>
		<string>heQ_amats.glif</string>
		<key>heQamats.kaf</key>
		<string>heQ_amats.kaf.glif</string>
		<key>heRafe</key>
		<string>heR_afe.glif</string>
		<key>heReshWide</key>
		<string>heR_eshW_ide.glif</string>
		<key>heShin</key>
		<string>heS_hin.glif</string>
		<key>heShinDot</key>
		<string>heS_hinD_ot.glif</string>
		<key>heSinDot</key>
		<string>heS_inD_ot.glif</string>
		<key>heTav</key>
		<string>heT_av.glif</string>
		<key>heTavWide</key>
		<string>heT_avW_ide.glif</string>
		<key>heTet</key>
		<string>heT_et.glif</string>
		<key>heTsadi</key>
		<string>heT_sadi.glif</string>
		<key>hryvnia.S</key>
		<string>hryvnia.S_.glif</string>
		<key>lira.S</key>
		<string>lira.S_.glif</string>
		<key>liraturkish.S</key>
		<string>liraturkish.S_.glif</string>
		<key>naira.S</key>
		<string>naira.S_.glif</string>
		<key>newsheqel.S</key>
		<string>newsheqel.S_.glif</string>
		<key>nine.S</key>
		<string>nine.S_.glif</string>
		<key>one.P</key>
		<string>one.P_.glif</string>
		<key>peseta.S</key>
		<string>peseta.S_.glif</string>
		<key>pnAin</key>
		<string>pnA_in.glif</string>
		<key>pnAlf</key>
		<string>pnA_lf.glif</string>
		<key>pnBet</key>
		<string>pnB_et.glif</string>
		<key>pnDelt</key>
		<string>pnD_elt.glif</string>
		<key>pnKaf</key>
		<string>pnK_af.glif</string>
		<key>pnMem</key>
		<string>pnM_em.glif</string>
		<key>pnNun</key>
		<string>pnN_un.glif</string>
		<key>pnPe</key>
		<string>pnP_e.glif</string>
		<key>pnQof</key>
		<string>pnQ_of.glif</string>
		<key>pnSade</key>
		<string>pnS_ade.glif</string>
		<key>pnSemk</key>
		<string>pnS_emk.glif</string>
		<key>pnShin</key>
		<string>pnS_hin.glif</string>
		<key>pnWau</key>
		<string>pnW_au.glif</string>
		<key>ruble.S</key>
		<string>ruble.S_.glif</string>
		<key>rupeeindian.S</key>
		<string>rupeeindian.S_.glif</string>
		<key>seven.Dnom</key>
		<string>seven.D_nom.glif</string>
		<key>seven.P</key>
		<string>seven.P_.glif</string>
		<key>seven.S</key>
		<string>seven.S_.glif</string>
		<key>six.S</key>
		<string>six.S_.glif</string>
		<key>tenge.S</key>
		<string>tenge.S_.glif</string>
		<key>three.Dnom</key>
		<string>three.D_nom.glif</string>
		<key>three.S</key>
		<string>three.S_.glif</string>
		<key>tugrik.S</key>
		<string>tugrik.S_.glif</string>
		<key>two.Dnom</key>
		<string>two.D_nom.glif</string>
		<key>two.P</key>
		<string>two.P_.glif</string>
		<key>two.S</key>
		<string>two.S_.glif</string>
		<key>ugAin</key>
		<string>ugA_in.glif</string>
		<key>ugAlpa</key>
		<string>ugA_lpa.glif</string>
		<key>ugBeta</key>
		<string>ugB_eta.glif</string>
		<key>ugDelta</key>
		<string>ugD_elta.glif</string>
		<key>ugDhal</key>
		<string>ugD_hal.glif</string>
		<key>ugGamla</key>
		<string>ugG_amla.glif</string>
		<key>ugHota</key>
		<string>ugH_ota.glif</string>
		<key>ugKaf</key>
		<string>ugK_af.glif</string>
		<key>ugKha</key>
		<string>ugK_ha.glif</string>
		<key>ugMem</key>
		<string>ugM_em.glif</string>
		<key>ugNun</key>
		<string>ugN_un.glif</string>
		<key>ugQopa</key>
		<string>ugQ_opa.glif</string>
		<key>ugRasha</key>
		<string>ugR_asha.glif</string>
		<key>ugSamka</key>
		<string>ugS_amka.glif</string>
		<key>ugShin</key>
		<string>ugS_hin.glif</string>
		<key>ugSsu</key>
		<string>ugS_su.glif</string>
		<key>ugTet</key>
		<string>ugT_et.glif</string>
		<key>ugThanna</key>
		<string>ugT_hanna.glif</string>
		<key>ugTo</key>
		<string>ugT_o.glif</string>
		<key>ugU</key>
		<string>ugU_.glif</string>
		<key>ugWo</key>
		<string>ugW_o.glif</string>
		<key>ugZeta</key>
		<string>ugZ_eta.glif</string>
		<key>ugZu</key>
		<string>ugZ_u.glif</string>
		<key>ugword</key>
		<string>ugword.glif</string>
		<key>zero.0P</key>
		<string>zero.0P_.glif</string>
		<key>zero.P</key>
		<string>zero.P_.glif</string>
		<key>zero.S</key>
		<string>zero.S_.glif</string>
	</dict>
</plist>
