<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>COMBINING_MARKS</key>
		<array>
			<string>heSheva</string>
			<string>heHatafSegol</string>
			<string>heHatafPatah</string>
			<string>heHatafQamats</string>
			<string>heHiriq</string>
			<string>heTsere</string>
			<string>heSegol</string>
			<string>hePatah</string>
			<string>heQamats</string>
			<string>heQubuts</string>
			<string>heMeteg</string>
			<string>heQamatsQatan</string>
			<string>heDagesh</string>
			<string>heHolam</string>
			<string>heHolamHaser</string>
			<string>heShinDot</string>
			<string>heSinDot</string>
			<string>heRafe</string>
			<string>heVarikaJud</string>
			<string>heHatafQamatsQatan</string>
			<string>hePatah.short</string>
			<string>heQamats.short</string>
			<string>heQamatsQatan.short</string>
			<string>heDagesh.shin</string>
			<string>heSheva.kaf</string>
			<string>heQamats.kaf</string>
			<string>gravecmb</string>
			<string>acutecmb</string>
			<string>circumflexcmb</string>
			<string>caroncmb</string>
			<string>tildecmb</string>
			<string>dieresiscmb</string>
			<string>macroncmb</string>
			<string>brevecmb</string>
			<string>ringcmb</string>
			<string>hungarumlautcmb</string>
			<string>dotaccentcmb</string>
			<string>cedillacmb</string>
			<string>dotbelowcmb</string>
			<string>downtackbelowcmb</string>
			<string>brevebelowcmb</string>
			<string>macronbelowcmb</string>
			<string>breveinverteddoublecmb</string>
			<string>gravecmb.cap</string>
			<string>acutecmb.cap</string>
			<string>circumflexcmb.cap</string>
			<string>caroncmb.cap</string>
			<string>tildecmb.cap</string>
			<string>dieresiscmb.cap</string>
			<string>macroncmb.cap</string>
			<string>brevecmb.cap</string>
			<string>ringcmb.cap</string>
			<string>hungarumlautcmb.cap</string>
			<string>dotaccentcmb.cap</string>
			<string>cedillacmb.cap</string>
			<string>ogonekcmb</string>
			<string>tildeoverlaycmb</string>
		</array>
		<key>public.kern1.GRK_CHI_LC_LEFT</key>
		<array>
			<string>chilatin</string>
		</array>
		<key>public.kern1.GRK_THETA_LC_LEFT</key>
		<array>
			<string>theta</string>
		</array>
		<key>public.kern1.HEB_ALEF</key>
		<array>
			<string>heAlef</string>
			<string>heAlefMapiq</string>
			<string>heAlefPatah</string>
			<string>heAlefQamats</string>
			<string>heAlefWide</string>
			<string>heTsadi</string>
			<string>heTsadiDagesh</string>
		</array>
		<key>public.kern1.HEB_BET</key>
		<array>
			<string>heBet</string>
			<string>heBetDagesh</string>
			<string>heBetRafe</string>
		</array>
		<key>public.kern1.HEB_DALET</key>
		<array>
			<string>heDalet</string>
			<string>heZayin</string>
			<string>heDaletDagesh</string>
			<string>heZayinDagesh</string>
			<string>heDaletWide</string>
		</array>
		<key>public.kern1.HEB_GIMEL</key>
		<array>
			<string>heGimel</string>
			<string>heGimelDagesh</string>
		</array>
		<key>public.kern1.HEB_HE</key>
		<array>
			<string>heHe</string>
			<string>heHet</string>
			<string>heKafFin</string>
			<string>heMemFin</string>
			<string>heNun</string>
			<string>heNunFin</string>
			<string>heVav</string>
			<string>hePe</string>
			<string>hePeFin</string>
			<string>heResh</string>
			<string>heTav</string>
			<string>heVavYod</string>
			<string>heVavVav</string>
			<string>heKaf</string>
			<string>heHeMapiq</string>
			<string>heHeWide</string>
			<string>heKafWide</string>
			<string>heMemFinWide</string>
			<string>heReshWide</string>
			<string>heTavWide</string>
			<string>heVavDagesh</string>
			<string>heVavHolam</string>
			<string>heKafDagesh</string>
			<string>heKafDageshFin</string>
			<string>heKafRafe</string>
			<string>heNunDagesh</string>
			<string>hePeDagesh</string>
			<string>hePeDageshFin</string>
			<string>hePeRafe</string>
			<string>heReshDagesh</string>
			<string>heTavDagesh</string>
			<string>heMem</string>
			<string>heMemDagesh</string>
		</array>
		<key>public.kern1.HEB_LAMED</key>
		<array>
			<string>heLamed</string>
			<string>heLamedDagesh</string>
			<string>heLamedWide</string>
			<string>heAyin</string>
			<string>heYod</string>
			<string>heYodYod</string>
			<string>heYodDagesh</string>
			<string>heTsadiFin</string>
			<string>heQof</string>
			<string>heQofDagesh</string>
			<string>heYodHiriq</string>
		</array>
		<key>public.kern1.HEB_TET</key>
		<array>
			<string>heSamekh</string>
			<string>heTet</string>
			<string>heShinDagesh</string>
			<string>heShinDageshDotted</string>
			<string>heShinDotted</string>
			<string>heSinDageshDotted</string>
			<string>heSinDotted</string>
			<string>heShin</string>
			<string>heTetDagesh</string>
			<string>heSamekhDagesh</string>
		</array>
		<key>public.kern1.LAT_A_LC_LEFT</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>abreve</string>
			<string>amacron</string>
			<string>adotbelow</string>
		</array>
		<key>public.kern1.LAT_A_UC_LEFT</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Abreve</string>
			<string>Amacron</string>
			<string>Adotbelow</string>
		</array>
		<key>public.kern1.LAT_B_UC_LEFT</key>
		<array>
			<string>B</string>
			<string>Blinebelow</string>
		</array>
		<key>public.kern1.LAT_C_LC_LEFT</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
			<string>ccaron</string>
		</array>
		<key>public.kern1.LAT_C_UC_LEFT</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Ccaron</string>
		</array>
		<key>public.kern1.LAT_D_LC_LEFT</key>
		<array>
			<string>d</string>
			<string>ddotbelow</string>
			<string>dlinebelow</string>
		</array>
		<key>public.kern1.LAT_ETH_LC_LEFT</key>
		<array>
			<string>eth</string>
		</array>
		<key>public.kern1.LAT_EZH_LC_LEFT</key>
		<array>
			<string>ezh</string>
		</array>
		<key>public.kern1.LAT_E_LC_LEFT</key>
		<array>
			<string>e</string>
			<string>ae</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>oe</string>
			<string>ebreve</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>edotbelow</string>
			<string>aturned</string>
		</array>
		<key>public.kern1.LAT_E_UC_LEFT</key>
		<array>
			<string>E</string>
			<string>AE</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>OE</string>
			<string>Ebreve</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Edotbelow</string>
		</array>
		<key>public.kern1.LAT_F_LC_LEFT</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.LAT_F_UC_LEFT</key>
		<array>
			<string>F</string>
		</array>
		<key>public.kern1.LAT_GERMANDBLS_LC_LEFT</key>
		<array>
			<string>germandbls</string>
		</array>
		<key>public.kern1.LAT_G_LC_LEFT</key>
		<array>
			<string>g</string>
			<string>gdotaccent</string>
			<string>gcaron</string>
			<string>gmacron</string>
		</array>
		<key>public.kern1.LAT_G_UC_LEFT</key>
		<array>
			<string>G</string>
			<string>Gdotaccent</string>
			<string>Gcaron</string>
			<string>Gmacron</string>
		</array>
		<key>public.kern1.LAT_HBAR_UC_LEFT</key>
		<array>
			<string>Hbar</string>
		</array>
		<key>public.kern1.LAT_H_UC_LEFT</key>
		<array>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>Hdotbelow</string>
			<string>Hbrevebelow</string>
		</array>
		<key>public.kern1.LAT_I_LC_LEFT</key>
		<array>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>fi</string>
		</array>
		<key>public.kern1.LAT_I_UC_LEFT</key>
		<array>
			<string>I</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
		</array>
		<key>public.kern1.LAT_J_LC_LEFT</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern1.LAT_J_UC_LEFT</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern1.LAT_K_LC_LEFT</key>
		<array>
			<string>k</string>
			<string>kdotbelow</string>
			<string>klinebelow</string>
			<string>kcaron</string>
		</array>
		<key>public.kern1.LAT_K_UC_LEFT</key>
		<array>
			<string>K</string>
			<string>Kdotbelow</string>
			<string>Klinebelow</string>
			<string>Kcaron</string>
		</array>
		<key>public.kern1.LAT_LSLASH_LC_LEFT</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern1.LAT_L_LC_LEFT</key>
		<array>
			<string>l</string>
			<string>fl</string>
		</array>
		<key>public.kern1.LAT_L_UC_LEFT</key>
		<array>
			<string>L</string>
			<string>Lslash</string>
		</array>
		<key>public.kern1.LAT_N_LC_LEFT</key>
		<array>
			<string>h</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
			<string>hbar</string>
			<string>hdotbelow</string>
			<string>hbrevebelow</string>
			<string>hlinebelow</string>
		</array>
		<key>public.kern1.LAT_O_LC_LEFT</key>
		<array>
			<string>b</string>
			<string>o</string>
			<string>p</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>thorn</string>
			<string>blinebelow</string>
			<string>obreve</string>
			<string>omacron</string>
			<string>odotbelow</string>
			<string>oopen</string>
			<string>schwa</string>
		</array>
		<key>public.kern1.LAT_O_UC_LEFT</key>
		<array>
			<string>D</string>
			<string>O</string>
			<string>Q</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>Eth</string>
			<string>Ddotbelow</string>
			<string>Dlinebelow</string>
			<string>Obreve</string>
			<string>Omacron</string>
			<string>Odotbelow</string>
			<string>Schwa</string>
		</array>
		<key>public.kern1.LAT_P_UC_LEFT</key>
		<array>
			<string>P</string>
		</array>
		<key>public.kern1.LAT_R_LC_LEFT</key>
		<array>
			<string>r</string>
		</array>
		<key>public.kern1.LAT_R_UC_LEFT</key>
		<array>
			<string>R</string>
		</array>
		<key>public.kern1.LAT_S_LC_LEFT</key>
		<array>
			<string>s</string>
			<string>scaron</string>
			<string>sacute</string>
			<string>sdotbelow</string>
		</array>
		<key>public.kern1.LAT_S_UC_LEFT</key>
		<array>
			<string>S</string>
			<string>Scaron</string>
			<string>Sacute</string>
			<string>Sdotbelow</string>
		</array>
		<key>public.kern1.LAT_THORN_UC_LEFT</key>
		<array>
			<string>Thorn</string>
		</array>
		<key>public.kern1.LAT_T_LC_LEFT</key>
		<array>
			<string>t</string>
			<string>tdotbelow</string>
			<string>tlinebelow</string>
		</array>
		<key>public.kern1.LAT_T_UC_LEFT</key>
		<array>
			<string>T</string>
			<string>Tdotbelow</string>
			<string>Tlinebelow</string>
		</array>
		<key>public.kern1.LAT_U_LC_LEFT</key>
		<array>
			<string>q</string>
			<string>u</string>
			<string>dotlessi</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>alphalatin</string>
			<string>gscript</string>
		</array>
		<key>public.kern1.LAT_U_UC_LEFT</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
		</array>
		<key>public.kern1.LAT_V_LC_LEFT</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern1.LAT_V_UC_LEFT</key>
		<array>
			<string>V</string>
		</array>
		<key>public.kern1.LAT_W_LC_LEFT</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern1.LAT_W_UC_LEFT</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern1.LAT_X_LC_LEFT</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern1.LAT_X_UC_LEFT</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern1.LAT_Y_LC_LEFT</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>gammalatin</string>
		</array>
		<key>public.kern1.LAT_Y_UC_LEFT</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern1.LAT_Z_LC_LEFT</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
			<string>zdotbelow</string>
			<string>zlinebelow</string>
		</array>
		<key>public.kern1.LAT_Z_UC_LEFT</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
			<string>Zdotbelow</string>
			<string>Zlinebelow</string>
		</array>
		<key>public.kern1.NUM_ZERO_LEFT</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern1.PCT_BRACELEFT_LEFT</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
		</array>
		<key>public.kern1.PCT_COMMA_LEFT</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>period</string>
			<string>ellipsis</string>
			<string>comma</string>
		</array>
		<key>public.kern1.PCT_EMDASH_LEFT</key>
		<array>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
		</array>
		<key>public.kern1.PCT_EXCLAM_LEFT</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern1.PCT_GUILLEFT_LEFT</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern1.PCT_GUILRIGHT_LEFT</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern1.PCT_PERCENT_LEFT</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern1.PCT_QUESTION_LEFT</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern1.PCT_QUOTELEFT_LEFT</key>
		<array>
			<string>ringhalfleftmod</string>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern1.PCT_QUOTERIGHT_LEFT</key>
		<array>
			<string>ringhalfrightmod</string>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern1.PCT_QUOTE_LEFT</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern2.GRK_CHI_LC_RIGHT</key>
		<array>
			<string>chilatin</string>
		</array>
		<key>public.kern2.GRK_THETA_LC_RIGHT</key>
		<array>
			<string>theta</string>
		</array>
		<key>public.kern2.HEB_ALEF</key>
		<array>
			<string>heAlef</string>
			<string>heAlefMapiq</string>
			<string>heAlefPatah</string>
			<string>heAlefQamats</string>
			<string>heAlefWide</string>
		</array>
		<key>public.kern2.HEB_AYIN</key>
		<array>
			<string>heAyin</string>
			<string>heTsadi</string>
			<string>heTsadiDagesh</string>
		</array>
		<key>public.kern2.HEB_BET</key>
		<array>
			<string>heBet</string>
			<string>heKaf</string>
			<string>heBetRafe</string>
			<string>heKafRafe</string>
			<string>heKafDagesh</string>
			<string>heBetDagesh</string>
			<string>heNunDagesh</string>
			<string>heTav</string>
			<string>heTavWide</string>
			<string>heKafWide</string>
			<string>heNun</string>
			<string>heTavDagesh</string>
		</array>
		<key>public.kern2.HEB_DALET</key>
		<array>
			<string>heDalet</string>
			<string>heKafFin</string>
			<string>heResh</string>
			<string>heDaletWide</string>
			<string>heReshWide</string>
			<string>heKafDageshFin</string>
			<string>heDaletDagesh</string>
			<string>heReshDagesh</string>
		</array>
		<key>public.kern2.HEB_GIMEL</key>
		<array>
			<string>heGimel</string>
			<string>heGimelDagesh</string>
		</array>
		<key>public.kern2.HEB_HE</key>
		<array>
			<string>heHe</string>
			<string>heHet</string>
			<string>heMemFin</string>
			<string>heHeWide</string>
			<string>heMemFinWide</string>
			<string>heHeMapiq</string>
			<string>heQofDagesh</string>
			<string>heQof</string>
		</array>
		<key>public.kern2.HEB_LAMED</key>
		<array>
			<string>heLamed</string>
			<string>heLamedDagesh</string>
			<string>heLamedWide</string>
		</array>
		<key>public.kern2.HEB_MEM</key>
		<array>
			<string>heMem</string>
			<string>heMemDagesh</string>
			<string>heTsadiFin</string>
		</array>
		<key>public.kern2.HEB_PE</key>
		<array>
			<string>hePe</string>
			<string>hePeDagesh</string>
			<string>hePeRafe</string>
		</array>
		<key>public.kern2.HEB_PEFIN</key>
		<array>
			<string>hePeDageshFin</string>
			<string>hePeFin</string>
		</array>
		<key>public.kern2.HEB_SAMEKH</key>
		<array>
			<string>heSamekh</string>
			<string>heSamekhDagesh</string>
		</array>
		<key>public.kern2.HEB_TET</key>
		<array>
			<string>heTet</string>
			<string>heShinDagesh</string>
			<string>heShinDageshDotted</string>
			<string>heShinDotted</string>
			<string>heSinDageshDotted</string>
			<string>heSinDotted</string>
			<string>heShin</string>
			<string>heTetDagesh</string>
		</array>
		<key>public.kern2.HEB_VAV</key>
		<array>
			<string>heNunFin</string>
			<string>heVav</string>
			<string>heZayin</string>
			<string>heVavHolam</string>
			<string>heVavDagesh</string>
			<string>heZayinDagesh</string>
			<string>heYod</string>
			<string>heYodDagesh</string>
			<string>heVavVav</string>
			<string>heVavYod</string>
			<string>heYodYod</string>
			<string>heYodHiriq</string>
		</array>
		<key>public.kern2.LAT_AE_UC_RIGHT</key>
		<array>
			<string>AE</string>
		</array>
		<key>public.kern2.LAT_A_LC_RIGHT</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>ae</string>
			<string>abreve</string>
			<string>amacron</string>
			<string>adotbelow</string>
		</array>
		<key>public.kern2.LAT_A_UC_RIGHT</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Abreve</string>
			<string>Amacron</string>
			<string>Adotbelow</string>
		</array>
		<key>public.kern2.LAT_DCROAT_UC_RIGHT</key>
		<array>
			<string>Eth</string>
		</array>
		<key>public.kern2.LAT_ETH_LC_RIGHT</key>
		<array>
			<string>eth</string>
		</array>
		<key>public.kern2.LAT_F_LC_RIGHT</key>
		<array>
			<string>f</string>
			<string>fi</string>
			<string>fl</string>
		</array>
		<key>public.kern2.LAT_G_LC_RIGHT</key>
		<array>
			<string>g</string>
			<string>gdotaccent</string>
			<string>gcaron</string>
			<string>gmacron</string>
		</array>
		<key>public.kern2.LAT_HBAR_LC_RIGHT</key>
		<array>
			<string>hbar</string>
		</array>
		<key>public.kern2.LAT_HBAR_UC_RIGHT</key>
		<array>
			<string>Hbar</string>
		</array>
		<key>public.kern2.LAT_H_UC_RIGHT</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>H</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>R</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Ntilde</string>
			<string>Thorn</string>
			<string>Blinebelow</string>
			<string>Ddotbelow</string>
			<string>Dlinebelow</string>
			<string>Ebreve</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Edotbelow</string>
			<string>Hdotbelow</string>
			<string>Hbrevebelow</string>
			<string>Kdotbelow</string>
			<string>Klinebelow</string>
			<string>Kcaron</string>
		</array>
		<key>public.kern2.LAT_I_LC_RIGHT</key>
		<array>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
		</array>
		<key>public.kern2.LAT_I_UC_RIGHT</key>
		<array>
			<string>I</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
		</array>
		<key>public.kern2.LAT_J_LC_RIGHT</key>
		<array>
			<string>j</string>
			<string>esh</string>
		</array>
		<key>public.kern2.LAT_J_UC_RIGHT</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern2.LAT_LSLASH_LC_RIGHT</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern2.LAT_LSLASH_UC_RIGHT</key>
		<array>
			<string>Lslash</string>
		</array>
		<key>public.kern2.LAT_L_LC_RIGHT</key>
		<array>
			<string>b</string>
			<string>h</string>
			<string>k</string>
			<string>l</string>
			<string>germandbls</string>
			<string>thorn</string>
			<string>blinebelow</string>
			<string>hdotbelow</string>
			<string>hbrevebelow</string>
			<string>hlinebelow</string>
			<string>kdotbelow</string>
			<string>klinebelow</string>
			<string>kcaron</string>
		</array>
		<key>public.kern2.LAT_N_LC_RIGHT</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>p</string>
			<string>r</string>
			<string>dotlessi</string>
			<string>ntilde</string>
			<string>rsmall</string>
		</array>
		<key>public.kern2.LAT_O_LC_RIGHT</key>
		<array>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>o</string>
			<string>q</string>
			<string>ccedilla</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>oe</string>
			<string>ccaron</string>
			<string>ddotbelow</string>
			<string>dlinebelow</string>
			<string>ebreve</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>edotbelow</string>
			<string>obreve</string>
			<string>omacron</string>
			<string>odotbelow</string>
			<string>alphalatin</string>
			<string>gscript</string>
		</array>
		<key>public.kern2.LAT_O_UC_RIGHT</key>
		<array>
			<string>C</string>
			<string>G</string>
			<string>O</string>
			<string>Q</string>
			<string>Ccedilla</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>OE</string>
			<string>Ccaron</string>
			<string>Gdotaccent</string>
			<string>Gcaron</string>
			<string>Gmacron</string>
			<string>Obreve</string>
			<string>Omacron</string>
			<string>Odotbelow</string>
		</array>
		<key>public.kern2.LAT_SCHWA_LC_RIGHT</key>
		<array>
			<string>schwa</string>
		</array>
		<key>public.kern2.LAT_SCHWA_UC_RIGHT</key>
		<array>
			<string>Schwa</string>
		</array>
		<key>public.kern2.LAT_S_LC_RIGHT</key>
		<array>
			<string>s</string>
			<string>scaron</string>
			<string>sacute</string>
			<string>sdotbelow</string>
		</array>
		<key>public.kern2.LAT_S_UC_RIGHT</key>
		<array>
			<string>S</string>
			<string>Scaron</string>
			<string>Sacute</string>
			<string>Sdotbelow</string>
		</array>
		<key>public.kern2.LAT_T_LC_RIGHT</key>
		<array>
			<string>t</string>
			<string>tdotbelow</string>
			<string>tlinebelow</string>
		</array>
		<key>public.kern2.LAT_T_UC_RIGHT</key>
		<array>
			<string>T</string>
			<string>Tdotbelow</string>
			<string>Tlinebelow</string>
		</array>
		<key>public.kern2.LAT_U_LC_RIGHT</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>aturned</string>
		</array>
		<key>public.kern2.LAT_U_UC_RIGHT</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
		</array>
		<key>public.kern2.LAT_V_LC_RIGHT</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern2.LAT_V_UC_RIGHT</key>
		<array>
			<string>V</string>
		</array>
		<key>public.kern2.LAT_W_LC_RIGHT</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern2.LAT_W_UC_RIGHT</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern2.LAT_X_LC_RIGHT</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern2.LAT_X_UC_RIGHT</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern2.LAT_Y_LC_RIGHT</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>gammalatin</string>
		</array>
		<key>public.kern2.LAT_Y_UC_RIGHT</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern2.LAT_Z_LC_RIGHT</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
			<string>zdotbelow</string>
			<string>zlinebelow</string>
		</array>
		<key>public.kern2.LAT_Z_UC_RIGHT</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
			<string>Zdotbelow</string>
			<string>Zlinebelow</string>
		</array>
		<key>public.kern2.NUM_ZERO_RIGHT</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern2.PCT_BRACERIGHT_RIGHT</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
		</array>
		<key>public.kern2.PCT_COMMA_RIGHT</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>ellipsis</string>
			<string>period</string>
			<string>comma</string>
		</array>
		<key>public.kern2.PCT_EMDASH_RIGHT</key>
		<array>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
		</array>
		<key>public.kern2.PCT_EXCLAM_RIGHT</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern2.PCT_GUILLEFT_RIGHT</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern2.PCT_GUILRIGHT_RIGHT</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern2.PCT_PERCENT_RIGHT</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern2.PCT_QUESTION_RIGHT</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern2.PCT_QUOTELEFT_RIGHT</key>
		<array>
			<string>ringhalfleftmod</string>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
		<array>
			<string>ringhalfrightmod</string>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern2.PCT_QUOTE_RIGHT</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
	</dict>
</plist>
