<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Abreve</key>
		<string>A_breve.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Adotbelow</key>
		<string>A_dotbelow.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>Blinebelow</key>
		<string>B_linebelow.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Ccaron</key>
		<string>C_caron.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Ddotbelow</key>
		<string>D_dotbelow.glif</string>
		<key>Delta</key>
		<string>D_elta.glif</string>
		<key>Dlinebelow</key>
		<string>D_linebelow.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>Ebreve</key>
		<string>E_breve.glif</string>
		<key>Ecircumflex</key>
		<string>E_circumflex.glif</string>
		<key>Edieresis</key>
		<string>E_dieresis.glif</string>
		<key>Edotbelow</key>
		<string>E_dotbelow.glif</string>
		<key>Egrave</key>
		<string>E_grave.glif</string>
		<key>Emacron</key>
		<string>E_macron.glif</string>
		<key>Eogonek</key>
		<string>E_ogonek.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>Euro.S</key>
		<string>E_uro.S_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gcaron</key>
		<string>G_caron.glif</string>
		<key>Gdotaccent</key>
		<string>G_dotaccent.glif</string>
		<key>Gmacron</key>
		<string>G_macron.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hbar</key>
		<string>H_bar.glif</string>
		<key>Hbrevebelow</key>
		<string>H_brevebelow.glif</string>
		<key>Hdotbelow</key>
		<string>H_dotbelow.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>Icircumflex</key>
		<string>I_circumflex.glif</string>
		<key>Idieresis</key>
		<string>I_dieresis.glif</string>
		<key>Igrave</key>
		<string>I_grave.glif</string>
		<key>Imacron</key>
		<string>I_macron.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>Kcaron</key>
		<string>K_caron.glif</string>
		<key>Kdotbelow</key>
		<string>K_dotbelow.glif</string>
		<key>Klinebelow</key>
		<string>K_linebelow.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>LTR</key>
		<string>L_T_R_.glif</string>
		<key>LTRE</key>
		<string>L_T_R_E_.glif</string>
		<key>LTRO</key>
		<string>L_T_R_O_.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Ntilde</key>
		<string>N_tilde.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Obreve</key>
		<string>O_breve.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Odotbelow</key>
		<string>O_dotbelow.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>PopDF</key>
		<string>P_opD_F_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>RTL</key>
		<string>R_T_L_.glif</string>
		<key>RTLE</key>
		<string>R_T_L_E_.glif</string>
		<key>RTLO</key>
		<string>R_T_L_O_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>Scaron</key>
		<string>S_caron.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>Sdotbelow</key>
		<string>S_dotbelow.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tdotbelow</key>
		<string>T_dotbelow.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>Tlinebelow</key>
		<string>T_linebelow.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>Ucircumflex</key>
		<string>U_circumflex.glif</string>
		<key>Udieresis</key>
		<string>U_dieresis.glif</string>
		<key>Ugrave</key>
		<string>U_grave.glif</string>
		<key>Umacron</key>
		<string>U_macron.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>Vdotbelow</key>
		<string>V_dotbelow.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Ydieresis</key>
		<string>Y_dieresis.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>Zcaron</key>
		<string>Z_caron.glif</string>
		<key>Zdotbelow</key>
		<string>Z_dotbelow.glif</string>
		<key>Zlinebelow</key>
		<string>Z_linebelow.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.sups</key>
		<string>a.sups.glif</string>
		<key>aacute</key>
		<string>aacute.glif</string>
		<key>abreve</key>
		<string>abreve.glif</string>
		<key>acircumflex</key>
		<string>acircumflex.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acutecmb</key>
		<string>acutecmb.glif</string>
		<key>acutecmb.cap</key>
		<string>acutecmb.cap.glif</string>
		<key>adieresis</key>
		<string>adieresis.glif</string>
		<key>adotbelow</key>
		<string>adotbelow.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>agrave</key>
		<string>agrave.glif</string>
		<key>ai1</key>
		<string>ai1.glif</string>
		<key>ai10</key>
		<string>ai10.glif</string>
		<key>ai2</key>
		<string>ai2.glif</string>
		<key>ai20</key>
		<string>ai20.glif</string>
		<key>ai3</key>
		<string>ai3.glif</string>
		<key>aiAleph</key>
		<string>aiA_leph.glif</string>
		<key>aiAyin</key>
		<string>aiA_yin.glif</string>
		<key>aiBeth</key>
		<string>aiB_eth.glif</string>
		<key>aiDaleth</key>
		<string>aiD_aleth.glif</string>
		<key>aiGimel</key>
		<string>aiG_imel.glif</string>
		<key>aiHe</key>
		<string>aiH_e.glif</string>
		<key>aiHeth</key>
		<string>aiH_eth.glif</string>
		<key>aiKaph</key>
		<string>aiK_aph.glif</string>
		<key>aiLamedh</key>
		<string>aiL_amedh.glif</string>
		<key>aiMem</key>
		<string>aiM_em.glif</string>
		<key>aiNun</key>
		<string>aiN_un.glif</string>
		<key>aiPe</key>
		<string>aiP_e.glif</string>
		<key>aiQoph</key>
		<string>aiQ_oph.glif</string>
		<key>aiResh</key>
		<string>aiR_esh.glif</string>
		<key>aiSadhe</key>
		<string>aiS_adhe.glif</string>
		<key>aiSamekh</key>
		<string>aiS_amekh.glif</string>
		<key>aiShin</key>
		<string>aiS_hin.glif</string>
		<key>aiTaw</key>
		<string>aiT_aw.glif</string>
		<key>aiTeth</key>
		<string>aiT_eth.glif</string>
		<key>aiWaw</key>
		<string>aiW_aw.glif</string>
		<key>aiYodh</key>
		<string>aiY_odh.glif</string>
		<key>aiZayin</key>
		<string>aiZ_ayin.glif</string>
		<key>alphalatin</key>
		<string>alphalatin.glif</string>
		<key>amacron</key>
		<string>amacron.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>ampersand.S</key>
		<string>ampersand.S_.glif</string>
		<key>apostrophemod</key>
		<string>apostrophemod.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>aring</key>
		<string>aring.glif</string>
		<key>arrowdbldown.S</key>
		<string>arrowdbldown.S_.glif</string>
		<key>arrowdblleft.S</key>
		<string>arrowdblleft.S_.glif</string>
		<key>arrowdblright.S</key>
		<string>arrowdblright.S_.glif</string>
		<key>arrowdblup.S</key>
		<string>arrowdblup.S_.glif</string>
		<key>arrowdown.S</key>
		<string>arrowdown.S_.glif</string>
		<key>arrowdownleft.S</key>
		<string>arrowdownleft.S_.glif</string>
		<key>arrowdownright.S</key>
		<string>arrowdownright.S_.glif</string>
		<key>arrowleft.S</key>
		<string>arrowleft.S_.glif</string>
		<key>arrowright.S</key>
		<string>arrowright.S_.glif</string>
		<key>arrowup.S</key>
		<string>arrowup.S_.glif</string>
		<key>arrowupleft.S</key>
		<string>arrowupleft.S_.glif</string>
		<key>arrowupright.S</key>
		<string>arrowupright.S_.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>at.S</key>
		<string>at.S_.glif</string>
		<key>atilde</key>
		<string>atilde.glif</string>
		<key>aturned</key>
		<string>aturned.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>blinebelow</key>
		<string>blinebelow.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>breve</key>
		<string>breve.glif</string>
		<key>brevebelowcmb</key>
		<string>brevebelowcmb.glif</string>
		<key>brevecmb</key>
		<string>brevecmb.glif</string>
		<key>brevecmb.cap</key>
		<string>brevecmb.cap.glif</string>
		<key>breveinverteddoublecmb</key>
		<string>breveinverteddoublecmb.glif</string>
		<key>brokenbar</key>
		<string>brokenbar.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>bullet.S</key>
		<string>bullet.S_.glif</string>
		<key>bulletoperator</key>
		<string>bulletoperator.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>caroncmb</key>
		<string>caroncmb.glif</string>
		<key>caroncmb.cap</key>
		<string>caroncmb.cap.glif</string>
		<key>ccaron</key>
		<string>ccaron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>cedi</key>
		<string>cedi.glif</string>
		<key>cedi.S</key>
		<string>cedi.S_.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>cedillacmb</key>
		<string>cedillacmb.glif</string>
		<key>cedillacmb.cap</key>
		<string>cedillacmb.cap.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>cent.S</key>
		<string>cent.S_.glif</string>
		<key>chilatin</key>
		<string>chilatin.glif</string>
		<key>circledotted</key>
		<string>circledotted.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>circumflexcmb</key>
		<string>circumflexcmb.glif</string>
		<key>circumflexcmb.cap</key>
		<string>circumflexcmb.cap.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>colonmonetary</key>
		<string>colonmonetary.glif</string>
		<key>colonmonetary.S</key>
		<string>colonmonetary.S_.glif</string>
		<key>colontriangularmod</key>
		<string>colontriangularmod.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>comma.Numr</key>
		<string>comma.N_umr.glif</string>
		<key>comma.Subs</key>
		<string>comma.S_ubs.glif</string>
		<key>comma.Sups</key>
		<string>comma.S_ups.glif</string>
		<key>comma.dnom</key>
		<string>comma.dnom.glif</string>
		<key>comma.numr</key>
		<string>comma.numr.glif</string>
		<key>comma.subs</key>
		<string>comma.subs.glif</string>
		<key>comma.sups</key>
		<string>comma.sups.glif</string>
		<key>commaturnedmod</key>
		<string>commaturnedmod.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>copyright.S</key>
		<string>copyright.S_.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>dagger</key>
		<string>dagger.glif</string>
		<key>daggerdbl</key>
		<string>daggerdbl.glif</string>
		<key>ddotbelow</key>
		<string>ddotbelow.glif</string>
		<key>degree</key>
		<string>degree.glif</string>
		<key>dezh</key>
		<string>dezh.glif</string>
		<key>dieresis</key>
		<string>dieresis.glif</string>
		<key>dieresiscmb</key>
		<string>dieresiscmb.glif</string>
		<key>dieresiscmb.cap</key>
		<string>dieresiscmb.cap.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>dlinebelow</key>
		<string>dlinebelow.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dollar.S</key>
		<string>dollar.S_.glif</string>
		<key>dong</key>
		<string>dong.glif</string>
		<key>dong.S</key>
		<string>dong.S_.glif</string>
		<key>dotaccent</key>
		<string>dotaccent.glif</string>
		<key>dotaccentcmb</key>
		<string>dotaccentcmb.glif</string>
		<key>dotaccentcmb.cap</key>
		<string>dotaccentcmb.cap.glif</string>
		<key>dotbelowcmb</key>
		<string>dotbelowcmb.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>downtackbelowcmb</key>
		<string>downtackbelowcmb.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.sups</key>
		<string>e.sups.glif</string>
		<key>eacute</key>
		<string>eacute.glif</string>
		<key>ebreve</key>
		<string>ebreve.glif</string>
		<key>ecircumflex</key>
		<string>ecircumflex.glif</string>
		<key>edieresis</key>
		<string>edieresis.glif</string>
		<key>edotbelow</key>
		<string>edotbelow.glif</string>
		<key>egrave</key>
		<string>egrave.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.Dnom</key>
		<string>eight.D_nom.glif</string>
		<key>eight.L</key>
		<string>eight.L_.glif</string>
		<key>eight.Numr</key>
		<string>eight.N_umr.glif</string>
		<key>eight.P</key>
		<string>eight.P_.glif</string>
		<key>eight.S</key>
		<string>eight.S_.glif</string>
		<key>eight.Subs</key>
		<string>eight.S_ubs.glif</string>
		<key>eight.Sups</key>
		<string>eight.S_ups.glif</string>
		<key>eight.T</key>
		<string>eight.T_.glif</string>
		<key>eight.dnom</key>
		<string>eight.dnom.glif</string>
		<key>eight.numr</key>
		<string>eight.numr.glif</string>
		<key>eight.pnum</key>
		<string>eight.pnum.glif</string>
		<key>eight.subs</key>
		<string>eight.subs.glif</string>
		<key>eight.sups</key>
		<string>eight.sups.glif</string>
		<key>ellipsis</key>
		<string>ellipsis.glif</string>
		<key>emacron</key>
		<string>emacron.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>emdash.S</key>
		<string>emdash.S_.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>endash.S</key>
		<string>endash.S_.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.sups</key>
		<string>eogonek.sups.glif</string>
		<key>eopen</key>
		<string>eopen.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>equal.Subs</key>
		<string>equal.S_ubs.glif</string>
		<key>equal.Sups</key>
		<string>equal.S_ups.glif</string>
		<key>equal.subs</key>
		<string>equal.subs.glif</string>
		<key>equal.sups</key>
		<string>equal.sups.glif</string>
		<key>esh</key>
		<string>esh.glif</string>
		<key>estimated</key>
		<string>estimated.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclam.S</key>
		<string>exclam.S_.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>exclamdown.S</key>
		<string>exclamdown.S_.glif</string>
		<key>ezh</key>
		<string>ezh.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.Dnom</key>
		<string>five.D_nom.glif</string>
		<key>five.L</key>
		<string>five.L_.glif</string>
		<key>five.Numr</key>
		<string>five.N_umr.glif</string>
		<key>five.P</key>
		<string>five.P_.glif</string>
		<key>five.S</key>
		<string>five.S_.glif</string>
		<key>five.Subs</key>
		<string>five.S_ubs.glif</string>
		<key>five.Sups</key>
		<string>five.S_ups.glif</string>
		<key>five.T</key>
		<string>five.T_.glif</string>
		<key>five.dnom</key>
		<string>five.dnom.glif</string>
		<key>five.numr</key>
		<string>five.numr.glif</string>
		<key>five.pnum</key>
		<string>five.pnum.glif</string>
		<key>five.subs</key>
		<string>five.subs.glif</string>
		<key>five.sups</key>
		<string>five.sups.glif</string>
		<key>fl</key>
		<string>fl.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.Dnom</key>
		<string>four.D_nom.glif</string>
		<key>four.L</key>
		<string>four.L_.glif</string>
		<key>four.Numr</key>
		<string>four.N_umr.glif</string>
		<key>four.P</key>
		<string>four.P_.glif</string>
		<key>four.S</key>
		<string>four.S_.glif</string>
		<key>four.Subs</key>
		<string>four.S_ubs.glif</string>
		<key>four.Sups</key>
		<string>four.S_ups.glif</string>
		<key>four.T</key>
		<string>four.T_.glif</string>
		<key>four.dnom</key>
		<string>four.dnom.glif</string>
		<key>four.numr</key>
		<string>four.numr.glif</string>
		<key>four.pnum</key>
		<string>four.pnum.glif</string>
		<key>four.subs</key>
		<string>four.subs.glif</string>
		<key>four.sups</key>
		<string>four.sups.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>fraction.S</key>
		<string>fraction.S_.glif</string>
		<key>franc</key>
		<string>franc.glif</string>
		<key>franc.S</key>
		<string>franc.S_.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gammalatin</key>
		<string>gammalatin.glif</string>
		<key>gampersand</key>
		<string>gampersand.glif</string>
		<key>gcaron</key>
		<string>gcaron.glif</string>
		<key>gdotaccent</key>
		<string>gdotaccent.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>glottalstop</key>
		<string>glottalstop.glif</string>
		<key>glottalstopreversed</key>
		<string>glottalstopreversed.glif</string>
		<key>glottalstopreversed.sups</key>
		<string>glottalstopreversed.sups.glif</string>
		<key>gmacron</key>
		<string>gmacron.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>gravecmb</key>
		<string>gravecmb.glif</string>
		<key>gravecmb.cap</key>
		<string>gravecmb.cap.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>greaterequal</key>
		<string>greaterequal.glif</string>
		<key>gscript</key>
		<string>gscript.glif</string>
		<key>guarani</key>
		<string>guarani.glif</string>
		<key>guarani.S</key>
		<string>guarani.S_.glif</string>
		<key>guillemotleft</key>
		<string>guillemotleft.glif</string>
		<key>guillemotleft.S</key>
		<string>guillemotleft.S_.glif</string>
		<key>guillemotright</key>
		<string>guillemotright.glif</string>
		<key>guillemotright.S</key>
		<string>guillemotright.S_.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>guilsinglleft.S</key>
		<string>guilsinglleft.S_.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>guilsinglright.S</key>
		<string>guilsinglright.S_.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hbar</key>
		<string>hbar.glif</string>
		<key>hbrevebelow</key>
		<string>hbrevebelow.glif</string>
		<key>hdotbelow</key>
		<string>hdotbelow.glif</string>
		<key>heAlef</key>
		<string>heA_lef.glif</string>
		<key>heAlef.copy_1</key>
		<string>heA_lef.copy_1.glif</string>
		<key>heAlefLamed</key>
		<string>heA_lefL_amed.glif</string>
		<key>heAlefMapiq</key>
		<string>heA_lefM_apiq.glif</string>
		<key>heAlefPatah</key>
		<string>heA_lefP_atah.glif</string>
		<key>heAlefQamats</key>
		<string>heA_lefQ_amats.glif</string>
		<key>heAlefWide</key>
		<string>heA_lefW_ide.glif</string>
		<key>heAlefWide.copy_1</key>
		<string>heA_lefW_ide.copy_1.glif</string>
		<key>heAyin</key>
		<string>heA_yin.glif</string>
		<key>heAyin.swsh</key>
		<string>heA_yin.swsh.glif</string>
		<key>heBet</key>
		<string>heB_et.glif</string>
		<key>heBetDagesh</key>
		<string>heB_etD_agesh.glif</string>
		<key>heBetRafe</key>
		<string>heB_etR_afe.glif</string>
		<key>heDagesh</key>
		<string>heD_agesh.glif</string>
		<key>heDagesh.shin</key>
		<string>heD_agesh.shin.glif</string>
		<key>heDalet</key>
		<string>heD_alet.glif</string>
		<key>heDaletDagesh</key>
		<string>heD_aletD_agesh.glif</string>
		<key>heDaletWide</key>
		<string>heD_aletW_ide.glif</string>
		<key>heGeresh</key>
		<string>heG_eresh.glif</string>
		<key>heGershayim</key>
		<string>heG_ershayim.glif</string>
		<key>heGimel</key>
		<string>heG_imel.glif</string>
		<key>heGimelDagesh</key>
		<string>heG_imelD_agesh.glif</string>
		<key>heHatafPatah</key>
		<string>heH_atafP_atah.glif</string>
		<key>heHatafQamats</key>
		<string>heH_atafQ_amats.glif</string>
		<key>heHatafQamatsQatan</key>
		<string>heH_atafQ_amatsQ_atan.glif</string>
		<key>heHatafSegol</key>
		<string>heH_atafS_egol.glif</string>
		<key>heHe</key>
		<string>heH_e.glif</string>
		<key>heHeMapiq</key>
		<string>heH_eM_apiq.glif</string>
		<key>heHeWide</key>
		<string>heH_eW_ide.glif</string>
		<key>heHet</key>
		<string>heH_et.glif</string>
		<key>heHiriq</key>
		<string>heH_iriq.glif</string>
		<key>heHolam</key>
		<string>heH_olam.glif</string>
		<key>heHolamHaser</key>
		<string>heH_olamH_aser.glif</string>
		<key>heKaf</key>
		<string>heK_af.glif</string>
		<key>heKafDagesh</key>
		<string>heK_afD_agesh.glif</string>
		<key>heKafDageshFin</key>
		<string>heK_afD_ageshF_in.glif</string>
		<key>heKafFin</key>
		<string>heK_afF_in.glif</string>
		<key>heKafRafe</key>
		<string>heK_afR_afe.glif</string>
		<key>heKafWide</key>
		<string>heK_afW_ide.glif</string>
		<key>heLamed</key>
		<string>heL_amed.glif</string>
		<key>heLamedDagesh</key>
		<string>heL_amedD_agesh.glif</string>
		<key>heLamedWide</key>
		<string>heL_amedW_ide.glif</string>
		<key>heMaqaf</key>
		<string>heM_aqaf.glif</string>
		<key>heMem</key>
		<string>heM_em.glif</string>
		<key>heMemDagesh</key>
		<string>heM_emD_agesh.glif</string>
		<key>heMemFin</key>
		<string>heM_emF_in.glif</string>
		<key>heMemFinWide</key>
		<string>heM_emF_inW_ide.glif</string>
		<key>heMeteg</key>
		<string>heM_eteg.glif</string>
		<key>heNun</key>
		<string>heN_un.glif</string>
		<key>heNunDagesh</key>
		<string>heN_unD_agesh.glif</string>
		<key>heNunFin</key>
		<string>heN_unF_in.glif</string>
		<key>hePaseq</key>
		<string>heP_aseq.glif</string>
		<key>hePatah</key>
		<string>heP_atah.glif</string>
		<key>hePatah.short</key>
		<string>heP_atah.short.glif</string>
		<key>hePe</key>
		<string>heP_e.glif</string>
		<key>hePeDagesh</key>
		<string>heP_eD_agesh.glif</string>
		<key>hePeDageshFin</key>
		<string>heP_eD_ageshF_in.glif</string>
		<key>hePeFin</key>
		<string>heP_eF_in.glif</string>
		<key>hePeRafe</key>
		<string>heP_eR_afe.glif</string>
		<key>heQamats</key>
		<string>heQ_amats.glif</string>
		<key>heQamats.kaf</key>
		<string>heQ_amats.kaf.glif</string>
		<key>heQamats.short</key>
		<string>heQ_amats.short.glif</string>
		<key>heQamatsQatan</key>
		<string>heQ_amatsQ_atan.glif</string>
		<key>heQamatsQatan.short</key>
		<string>heQ_amatsQ_atan.short.glif</string>
		<key>heQof</key>
		<string>heQ_of.glif</string>
		<key>heQofDagesh</key>
		<string>heQ_ofD_agesh.glif</string>
		<key>heQubuts</key>
		<string>heQ_ubuts.glif</string>
		<key>heRafe</key>
		<string>heR_afe.glif</string>
		<key>heResh</key>
		<string>heR_esh.glif</string>
		<key>heReshDagesh</key>
		<string>heR_eshD_agesh.glif</string>
		<key>heReshWide</key>
		<string>heR_eshW_ide.glif</string>
		<key>heSamekh</key>
		<string>heS_amekh.glif</string>
		<key>heSamekhDagesh</key>
		<string>heS_amekhD_agesh.glif</string>
		<key>heSegol</key>
		<string>heS_egol.glif</string>
		<key>heSheva</key>
		<string>heS_heva.glif</string>
		<key>heSheva.kaf</key>
		<string>heS_heva.kaf.glif</string>
		<key>heShin</key>
		<string>heS_hin.glif</string>
		<key>heShinDagesh</key>
		<string>heS_hinD_agesh.glif</string>
		<key>heShinDageshDotted</key>
		<string>heS_hinD_ageshD_otted.glif</string>
		<key>heShinDot</key>
		<string>heS_hinD_ot.glif</string>
		<key>heShinDotted</key>
		<string>heS_hinD_otted.glif</string>
		<key>heSinDageshDotted</key>
		<string>heS_inD_ageshD_otted.glif</string>
		<key>heSinDot</key>
		<string>heS_inD_ot.glif</string>
		<key>heSinDotted</key>
		<string>heS_inD_otted.glif</string>
		<key>heSofPasuq</key>
		<string>heS_ofP_asuq.glif</string>
		<key>heTav</key>
		<string>heT_av.glif</string>
		<key>heTavDagesh</key>
		<string>heT_avD_agesh.glif</string>
		<key>heTavWide</key>
		<string>heT_avW_ide.glif</string>
		<key>heTet</key>
		<string>heT_et.glif</string>
		<key>heTetDagesh</key>
		<string>heT_etD_agesh.glif</string>
		<key>heTsadi</key>
		<string>heT_sadi.glif</string>
		<key>heTsadiDagesh</key>
		<string>heT_sadiD_agesh.glif</string>
		<key>heTsadiFin</key>
		<string>heT_sadiF_in.glif</string>
		<key>heTsere</key>
		<string>heT_sere.glif</string>
		<key>heVarikaJud</key>
		<string>heV_arikaJ_ud.glif</string>
		<key>heVav</key>
		<string>heV_av.glif</string>
		<key>heVavDagesh</key>
		<string>heV_avD_agesh.glif</string>
		<key>heVavHolam</key>
		<string>heV_avH_olam.glif</string>
		<key>heVavVav</key>
		<string>heV_avV_av.glif</string>
		<key>heVavYod</key>
		<string>heV_avY_od.glif</string>
		<key>heYod</key>
		<string>heY_od.glif</string>
		<key>heYodDagesh</key>
		<string>heY_odD_agesh.glif</string>
		<key>heYodHiriq</key>
		<string>heY_odH_iriq.glif</string>
		<key>heYodYod</key>
		<string>heY_odY_od.glif</string>
		<key>heYodYodPatah</key>
		<string>heY_odY_odP_atah.glif</string>
		<key>heZayin</key>
		<string>heZ_ayin.glif</string>
		<key>heZayinDagesh</key>
		<string>heZ_ayinD_agesh.glif</string>
		<key>hlinebelow</key>
		<string>hlinebelow.glif</string>
		<key>hrAleph</key>
		<string>hrA_leph.glif</string>
		<key>hrAyn</key>
		<string>hrA_yn.glif</string>
		<key>hrBeth</key>
		<string>hrB_eth.glif</string>
		<key>hrDalethResh</key>
		<string>hrD_alethR_esh.glif</string>
		<key>hrGimel</key>
		<string>hrG_imel.glif</string>
		<key>hrHe</key>
		<string>hrH_e.glif</string>
		<key>hrHeth</key>
		<string>hrH_eth.glif</string>
		<key>hrKaph</key>
		<string>hrK_aph.glif</string>
		<key>hrLamedh</key>
		<string>hrL_amedh.glif</string>
		<key>hrMem</key>
		<string>hrM_em.glif</string>
		<key>hrNun</key>
		<string>hrN_un.glif</string>
		<key>hrPe</key>
		<string>hrP_e.glif</string>
		<key>hrQoph</key>
		<string>hrQ_oph.glif</string>
		<key>hrSadhe</key>
		<string>hrS_adhe.glif</string>
		<key>hrSamekh</key>
		<string>hrS_amekh.glif</string>
		<key>hrShin</key>
		<string>hrS_hin.glif</string>
		<key>hrTaw</key>
		<string>hrT_aw.glif</string>
		<key>hrTeth</key>
		<string>hrT_eth.glif</string>
		<key>hrWaw</key>
		<string>hrW_aw.glif</string>
		<key>hrYodh</key>
		<string>hrY_odh.glif</string>
		<key>hrZayn</key>
		<string>hrZ_ayn.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>hryvnia.S</key>
		<string>hryvnia.S_.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>hungarumlautcmb.cap</key>
		<string>hungarumlautcmb.cap.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>hyphen.S</key>
		<string>hyphen.S_.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>integral</key>
		<string>integral.glif</string>
		<key>ismall</key>
		<string>ismall.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.sups</key>
		<string>j.sups.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>kcaron</key>
		<string>kcaron.glif</string>
		<key>kdotbelow</key>
		<string>kdotbelow.glif</string>
		<key>klinebelow</key>
		<string>klinebelow.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>lira</key>
		<string>lira.glif</string>
		<key>lira.S</key>
		<string>lira.S_.glif</string>
		<key>liraturkish</key>
		<string>liraturkish.glif</string>
		<key>liraturkish.S</key>
		<string>liraturkish.S_.glif</string>
		<key>litre</key>
		<string>litre.glif</string>
		<key>lmiddletilde</key>
		<string>lmiddletilde.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>lozenge</key>
		<string>lozenge.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>macronbelowcmb</key>
		<string>macronbelowcmb.glif</string>
		<key>macroncmb</key>
		<string>macroncmb.glif</string>
		<key>macroncmb.cap</key>
		<string>macroncmb.cap.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>minus.Subs</key>
		<string>minus.S_ubs.glif</string>
		<key>minus.Sups</key>
		<string>minus.S_ups.glif</string>
		<key>minus.subs</key>
		<string>minus.subs.glif</string>
		<key>minus.sups</key>
		<string>minus.sups.glif</string>
		<key>mu</key>
		<string>mu.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>naira</key>
		<string>naira.glif</string>
		<key>naira.S</key>
		<string>naira.S_.glif</string>
		<key>newsheqel</key>
		<string>newsheqel.glif</string>
		<key>newsheqel.P</key>
		<string>newsheqel.P_.glif</string>
		<key>newsheqel.S</key>
		<string>newsheqel.S_.glif</string>
		<key>newsheqel.pnum</key>
		<string>newsheqel.pnum.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nine.Dnom</key>
		<string>nine.D_nom.glif</string>
		<key>nine.L</key>
		<string>nine.L_.glif</string>
		<key>nine.Numr</key>
		<string>nine.N_umr.glif</string>
		<key>nine.P</key>
		<string>nine.P_.glif</string>
		<key>nine.S</key>
		<string>nine.S_.glif</string>
		<key>nine.Subs</key>
		<string>nine.S_ubs.glif</string>
		<key>nine.Sups</key>
		<string>nine.S_ups.glif</string>
		<key>nine.T</key>
		<string>nine.T_.glif</string>
		<key>nine.dnom</key>
		<string>nine.dnom.glif</string>
		<key>nine.numr</key>
		<string>nine.numr.glif</string>
		<key>nine.pnum</key>
		<string>nine.pnum.glif</string>
		<key>nine.subs</key>
		<string>nine.subs.glif</string>
		<key>nine.sups</key>
		<string>nine.sups.glif</string>
		<key>notequal</key>
		<string>notequal.glif</string>
		<key>ntilde</key>
		<string>ntilde.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>numbersign.S</key>
		<string>numbersign.S_.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.sups</key>
		<string>o.sups.glif</string>
		<key>oacute</key>
		<string>oacute.glif</string>
		<key>obreve</key>
		<string>obreve.glif</string>
		<key>ocircumflex</key>
		<string>ocircumflex.glif</string>
		<key>odieresis</key>
		<string>odieresis.glif</string>
		<key>odotbelow</key>
		<string>odotbelow.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>ogonekcmb</key>
		<string>ogonekcmb.glif</string>
		<key>ograve</key>
		<string>ograve.glif</string>
		<key>omacron</key>
		<string>omacron.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.Dnom</key>
		<string>one.D_nom.glif</string>
		<key>one.L</key>
		<string>one.L_.glif</string>
		<key>one.Numr</key>
		<string>one.N_umr.glif</string>
		<key>one.P</key>
		<string>one.P_.glif</string>
		<key>one.S</key>
		<string>one.S_.glif</string>
		<key>one.Subs</key>
		<string>one.S_ubs.glif</string>
		<key>one.Sups</key>
		<string>one.S_ups.glif</string>
		<key>one.T</key>
		<string>one.T_.glif</string>
		<key>one.dnom</key>
		<string>one.dnom.glif</string>
		<key>one.numr</key>
		<string>one.numr.glif</string>
		<key>one.pnum</key>
		<string>one.pnum.glif</string>
		<key>one.subs</key>
		<string>one.subs.glif</string>
		<key>one.sups</key>
		<string>one.sups.glif</string>
		<key>onehalf</key>
		<string>onehalf.glif</string>
		<key>onehalf.S</key>
		<string>onehalf.S_.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>onequarter.S</key>
		<string>onequarter.S_.glif</string>
		<key>oopen</key>
		<string>oopen.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>otilde</key>
		<string>otilde.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>paragraph.S</key>
		<string>paragraph.S_.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenleft.Dnom</key>
		<string>parenleft.D_nom.glif</string>
		<key>parenleft.Numr</key>
		<string>parenleft.N_umr.glif</string>
		<key>parenleft.Subs</key>
		<string>parenleft.S_ubs.glif</string>
		<key>parenleft.Sups</key>
		<string>parenleft.S_ups.glif</string>
		<key>parenleft.dnom</key>
		<string>parenleft.dnom.glif</string>
		<key>parenleft.numr</key>
		<string>parenleft.numr.glif</string>
		<key>parenleft.subs</key>
		<string>parenleft.subs.glif</string>
		<key>parenleft.sups</key>
		<string>parenleft.sups.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>parenright.Dnom</key>
		<string>parenright.D_nom.glif</string>
		<key>parenright.Numr</key>
		<string>parenright.N_umr.glif</string>
		<key>parenright.Subs</key>
		<string>parenright.S_ubs.glif</string>
		<key>parenright.Sups</key>
		<string>parenright.S_ups.glif</string>
		<key>parenright.dnom</key>
		<string>parenright.dnom.glif</string>
		<key>parenright.numr</key>
		<string>parenright.numr.glif</string>
		<key>parenright.subs</key>
		<string>parenright.subs.glif</string>
		<key>parenright.sups</key>
		<string>parenright.sups.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>percent.S</key>
		<string>percent.S_.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>period.Numr</key>
		<string>period.N_umr.glif</string>
		<key>period.Subs</key>
		<string>period.S_ubs.glif</string>
		<key>period.Sups</key>
		<string>period.S_ups.glif</string>
		<key>period.dnom</key>
		<string>period.dnom.glif</string>
		<key>period.numr</key>
		<string>period.numr.glif</string>
		<key>period.subs</key>
		<string>period.subs.glif</string>
		<key>period.sups</key>
		<string>period.sups.glif</string>
		<key>periodcentered</key>
		<string>periodcentered.glif</string>
		<key>periodcentered.S</key>
		<string>periodcentered.S_.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>perthousand.S</key>
		<string>perthousand.S_.glif</string>
		<key>peseta</key>
		<string>peseta.glif</string>
		<key>peseta.S</key>
		<string>peseta.S_.glif</string>
		<key>peso</key>
		<string>peso.glif</string>
		<key>peso.S</key>
		<string>peso.S_.glif</string>
		<key>pi</key>
		<string>pi.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>plus.Subs</key>
		<string>plus.S_ubs.glif</string>
		<key>plus.Sups</key>
		<string>plus.S_ups.glif</string>
		<key>plus.subs</key>
		<string>plus.subs.glif</string>
		<key>plus.sups</key>
		<string>plus.sups.glif</string>
		<key>plusalt</key>
		<string>plusalt.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>pmAleph</key>
		<string>pmA_leph.glif</string>
		<key>pmAyin</key>
		<string>pmA_yin.glif</string>
		<key>pmBeth</key>
		<string>pmB_eth.glif</string>
		<key>pmDaleth</key>
		<string>pmD_aleth.glif</string>
		<key>pmGimel</key>
		<string>pmG_imel.glif</string>
		<key>pmHe</key>
		<string>pmH_e.glif</string>
		<key>pmHeth</key>
		<string>pmH_eth.glif</string>
		<key>pmKaph</key>
		<string>pmK_aph.glif</string>
		<key>pmLamedh</key>
		<string>pmL_amedh.glif</string>
		<key>pmMem</key>
		<string>pmM_em.glif</string>
		<key>pmNun</key>
		<string>pmN_un.glif</string>
		<key>pmPe</key>
		<string>pmP_e.glif</string>
		<key>pmQoph</key>
		<string>pmQ_oph.glif</string>
		<key>pmResh</key>
		<string>pmR_esh.glif</string>
		<key>pmSadhe</key>
		<string>pmS_adhe.glif</string>
		<key>pmSamekh</key>
		<string>pmS_amekh.glif</string>
		<key>pmShin</key>
		<string>pmS_hin.glif</string>
		<key>pmTaw</key>
		<string>pmT_aw.glif</string>
		<key>pmTeth</key>
		<string>pmT_eth.glif</string>
		<key>pmWaw</key>
		<string>pmW_aw.glif</string>
		<key>pmYodh</key>
		<string>pmY_odh.glif</string>
		<key>pmZayin</key>
		<string>pmZ_ayin.glif</string>
		<key>pn1</key>
		<string>pn1.glif</string>
		<key>pn10</key>
		<string>pn10.glif</string>
		<key>pn100</key>
		<string>pn100.glif</string>
		<key>pn2</key>
		<string>pn2.glif</string>
		<key>pn20</key>
		<string>pn20.glif</string>
		<key>pn3</key>
		<string>pn3.glif</string>
		<key>pnAin</key>
		<string>pnA_in.glif</string>
		<key>pnAlf</key>
		<string>pnA_lf.glif</string>
		<key>pnBet</key>
		<string>pnB_et.glif</string>
		<key>pnDelt</key>
		<string>pnD_elt.glif</string>
		<key>pnGaml</key>
		<string>pnG_aml.glif</string>
		<key>pnHe</key>
		<string>pnH_e.glif</string>
		<key>pnHet</key>
		<string>pnH_et.glif</string>
		<key>pnKaf</key>
		<string>pnK_af.glif</string>
		<key>pnLamd</key>
		<string>pnL_amd.glif</string>
		<key>pnMem</key>
		<string>pnM_em.glif</string>
		<key>pnNun</key>
		<string>pnN_un.glif</string>
		<key>pnPe</key>
		<string>pnP_e.glif</string>
		<key>pnQof</key>
		<string>pnQ_of.glif</string>
		<key>pnRosh</key>
		<string>pnR_osh.glif</string>
		<key>pnSade</key>
		<string>pnS_ade.glif</string>
		<key>pnSemk</key>
		<string>pnS_emk.glif</string>
		<key>pnShin</key>
		<string>pnS_hin.glif</string>
		<key>pnTau</key>
		<string>pnT_au.glif</string>
		<key>pnTet</key>
		<string>pnT_et.glif</string>
		<key>pnWau</key>
		<string>pnW_au.glif</string>
		<key>pnYod</key>
		<string>pnY_od.glif</string>
		<key>pnZai</key>
		<string>pnZ_ai.glif</string>
		<key>pnword</key>
		<string>pnword.glif</string>
		<key>primemod</key>
		<string>primemod.glif</string>
		<key>product</key>
		<string>product.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>question.S</key>
		<string>question.S_.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>questiondown.S</key>
		<string>questiondown.S_.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblleft.S</key>
		<string>quotedblleft.S_.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quotedblright.S</key>
		<string>quotedblright.S_.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteleft.S</key>
		<string>quoteleft.S_.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quoteright.S</key>
		<string>quoteright.S_.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>ring</key>
		<string>ring.glif</string>
		<key>ringcmb</key>
		<string>ringcmb.glif</string>
		<key>ringcmb.cap</key>
		<string>ringcmb.cap.glif</string>
		<key>ringhalfleftmod</key>
		<string>ringhalfleftmod.glif</string>
		<key>ringhalfrightmod</key>
		<string>ringhalfrightmod.glif</string>
		<key>rsmall</key>
		<string>rsmall.glif</string>
		<key>rsmallturned</key>
		<string>rsmallturned.glif</string>
		<key>ruble</key>
		<string>ruble.glif</string>
		<key>ruble.S</key>
		<string>ruble.S_.glif</string>
		<key>rupeeindian</key>
		<string>rupeeindian.glif</string>
		<key>rupeeindian.S</key>
		<string>rupeeindian.S_.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>schwa</key>
		<string>schwa.glif</string>
		<key>sdotbelow</key>
		<string>sdotbelow.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>section.S</key>
		<string>section.S_.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.Dnom</key>
		<string>seven.D_nom.glif</string>
		<key>seven.L</key>
		<string>seven.L_.glif</string>
		<key>seven.Numr</key>
		<string>seven.N_umr.glif</string>
		<key>seven.P</key>
		<string>seven.P_.glif</string>
		<key>seven.S</key>
		<string>seven.S_.glif</string>
		<key>seven.Subs</key>
		<string>seven.S_ubs.glif</string>
		<key>seven.Sups</key>
		<string>seven.S_ups.glif</string>
		<key>seven.T</key>
		<string>seven.T_.glif</string>
		<key>seven.dnom</key>
		<string>seven.dnom.glif</string>
		<key>seven.numr</key>
		<string>seven.numr.glif</string>
		<key>seven.pnum</key>
		<string>seven.pnum.glif</string>
		<key>seven.subs</key>
		<string>seven.subs.glif</string>
		<key>seven.sups</key>
		<string>seven.sups.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.Dnom</key>
		<string>six.D_nom.glif</string>
		<key>six.L</key>
		<string>six.L_.glif</string>
		<key>six.Numr</key>
		<string>six.N_umr.glif</string>
		<key>six.P</key>
		<string>six.P_.glif</string>
		<key>six.S</key>
		<string>six.S_.glif</string>
		<key>six.Subs</key>
		<string>six.S_ubs.glif</string>
		<key>six.Sups</key>
		<string>six.S_ups.glif</string>
		<key>six.T</key>
		<string>six.T_.glif</string>
		<key>six.dnom</key>
		<string>six.dnom.glif</string>
		<key>six.numr</key>
		<string>six.numr.glif</string>
		<key>six.pnum</key>
		<string>six.pnum.glif</string>
		<key>six.subs</key>
		<string>six.subs.glif</string>
		<key>six.sups</key>
		<string>six.sups.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>space.frac</key>
		<string>space.frac.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>sterling.S</key>
		<string>sterling.S_.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>tdotbelow</key>
		<string>tdotbelow.glif</string>
		<key>tenge</key>
		<string>tenge.glif</string>
		<key>tenge.S</key>
		<string>tenge.S_.glif</string>
		<key>tesh</key>
		<string>tesh.glif</string>
		<key>theta</key>
		<string>theta.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.Dnom</key>
		<string>three.D_nom.glif</string>
		<key>three.L</key>
		<string>three.L_.glif</string>
		<key>three.Numr</key>
		<string>three.N_umr.glif</string>
		<key>three.P</key>
		<string>three.P_.glif</string>
		<key>three.S</key>
		<string>three.S_.glif</string>
		<key>three.Subs</key>
		<string>three.S_ubs.glif</string>
		<key>three.Sups</key>
		<string>three.S_ups.glif</string>
		<key>three.T</key>
		<string>three.T_.glif</string>
		<key>three.dnom</key>
		<string>three.dnom.glif</string>
		<key>three.numr</key>
		<string>three.numr.glif</string>
		<key>three.pnum</key>
		<string>three.pnum.glif</string>
		<key>three.subs</key>
		<string>three.subs.glif</string>
		<key>three.sups</key>
		<string>three.sups.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>threequarters.S</key>
		<string>threequarters.S_.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>tildecmb</key>
		<string>tildecmb.glif</string>
		<key>tildecmb.cap</key>
		<string>tildecmb.cap.glif</string>
		<key>tildeoverlaycmb</key>
		<string>tildeoverlaycmb.glif</string>
		<key>tlinebelow</key>
		<string>tlinebelow.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
		<key>ts</key>
		<string>ts.glif</string>
		<key>tugrik</key>
		<string>tugrik.glif</string>
		<key>tugrik.S</key>
		<string>tugrik.S_.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.Dnom</key>
		<string>two.D_nom.glif</string>
		<key>two.L</key>
		<string>two.L_.glif</string>
		<key>two.Numr</key>
		<string>two.N_umr.glif</string>
		<key>two.P</key>
		<string>two.P_.glif</string>
		<key>two.S</key>
		<string>two.S_.glif</string>
		<key>two.Subs</key>
		<string>two.S_ubs.glif</string>
		<key>two.Sups</key>
		<string>two.S_ups.glif</string>
		<key>two.T</key>
		<string>two.T_.glif</string>
		<key>two.dnom</key>
		<string>two.dnom.glif</string>
		<key>two.numr</key>
		<string>two.numr.glif</string>
		<key>two.pnum</key>
		<string>two.pnum.glif</string>
		<key>two.subs</key>
		<string>two.subs.glif</string>
		<key>two.sups</key>
		<string>two.sups.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>uacute</key>
		<string>uacute.glif</string>
		<key>ucircumflex</key>
		<string>ucircumflex.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>ugAin</key>
		<string>ugA_in.glif</string>
		<key>ugAlpa</key>
		<string>ugA_lpa.glif</string>
		<key>ugBeta</key>
		<string>ugB_eta.glif</string>
		<key>ugDelta</key>
		<string>ugD_elta.glif</string>
		<key>ugDhal</key>
		<string>ugD_hal.glif</string>
		<key>ugGamla</key>
		<string>ugG_amla.glif</string>
		<key>ugGhain</key>
		<string>ugG_hain.glif</string>
		<key>ugHo</key>
		<string>ugH_o.glif</string>
		<key>ugHota</key>
		<string>ugH_ota.glif</string>
		<key>ugI</key>
		<string>ugI_.glif</string>
		<key>ugKaf</key>
		<string>ugK_af.glif</string>
		<key>ugKha</key>
		<string>ugK_ha.glif</string>
		<key>ugLamda</key>
		<string>ugL_amda.glif</string>
		<key>ugMem</key>
		<string>ugM_em.glif</string>
		<key>ugNun</key>
		<string>ugN_un.glif</string>
		<key>ugPu</key>
		<string>ugP_u.glif</string>
		<key>ugQopa</key>
		<string>ugQ_opa.glif</string>
		<key>ugRasha</key>
		<string>ugR_asha.glif</string>
		<key>ugSade</key>
		<string>ugS_ade.glif</string>
		<key>ugSamka</key>
		<string>ugS_amka.glif</string>
		<key>ugShin</key>
		<string>ugS_hin.glif</string>
		<key>ugSsu</key>
		<string>ugS_su.glif</string>
		<key>ugTet</key>
		<string>ugT_et.glif</string>
		<key>ugThanna</key>
		<string>ugT_hanna.glif</string>
		<key>ugTo</key>
		<string>ugT_o.glif</string>
		<key>ugU</key>
		<string>ugU_.glif</string>
		<key>ugWo</key>
		<string>ugW_o.glif</string>
		<key>ugYod</key>
		<string>ugY_od.glif</string>
		<key>ugZeta</key>
		<string>ugZ_eta.glif</string>
		<key>ugZu</key>
		<string>ugZ_u.glif</string>
		<key>ugrave</key>
		<string>ugrave.glif</string>
		<key>ugword</key>
		<string>ugword.glif</string>
		<key>umacron</key>
		<string>umacron.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>upsilonlatin</key>
		<string>upsilonlatin.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>vdotbelow</key>
		<string>vdotbelow.glif</string>
		<key>verticallinemod</key>
		<string>verticallinemod.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>won</key>
		<string>won.glif</string>
		<key>won.S</key>
		<string>won.S_.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>yacute</key>
		<string>yacute.glif</string>
		<key>ydieresis</key>
		<string>ydieresis.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>yen.S</key>
		<string>yen.S_.glif</string>
		<key>yturned</key>
		<string>yturned.glif</string>
		<key>yuan</key>
		<string>yuan.glif</string>
		<key>yuan.S</key>
		<string>yuan.S_.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotbelow</key>
		<string>zdotbelow.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.0</key>
		<string>zero.0.glif</string>
		<key>zero.0L</key>
		<string>zero.0L_.glif</string>
		<key>zero.0P</key>
		<string>zero.0P_.glif</string>
		<key>zero.0S</key>
		<string>zero.0S_.glif</string>
		<key>zero.0T</key>
		<string>zero.0T_.glif</string>
		<key>zero.0p</key>
		<string>zero.0p.glif</string>
		<key>zero.Dnom</key>
		<string>zero.D_nom.glif</string>
		<key>zero.L</key>
		<string>zero.L_.glif</string>
		<key>zero.Numr</key>
		<string>zero.N_umr.glif</string>
		<key>zero.P</key>
		<string>zero.P_.glif</string>
		<key>zero.S</key>
		<string>zero.S_.glif</string>
		<key>zero.Subs</key>
		<string>zero.S_ubs.glif</string>
		<key>zero.Sups</key>
		<string>zero.S_ups.glif</string>
		<key>zero.T</key>
		<string>zero.T_.glif</string>
		<key>zero.dnom</key>
		<string>zero.dnom.glif</string>
		<key>zero.numr</key>
		<string>zero.numr.glif</string>
		<key>zero.pnum</key>
		<string>zero.pnum.glif</string>
		<key>zero.subs</key>
		<string>zero.subs.glif</string>
		<key>zero.sups</key>
		<string>zero.sups.glif</string>
		<key>zlinebelow</key>
		<string>zlinebelow.glif</string>
	</dict>
</plist>
