<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>aiHeth</key>
		<string>aiH_eth.glif</string>
		<key>heAyin</key>
		<string>heA_yin.glif</string>
		<key>hrAleph</key>
		<string>hrA_leph.glif</string>
		<key>hrHeth</key>
		<string>hrH_eth.glif</string>
		<key>hrLamedh</key>
		<string>hrL_amedh.glif</string>
		<key>hrSadhe</key>
		<string>hrS_adhe.glif</string>
		<key>hrTeth</key>
		<string>hrT_eth.glif</string>
		<key>hrWaw</key>
		<string>hrW_aw.glif</string>
		<key>hrYodh</key>
		<string>hrY_odh.glif</string>
	</dict>
</plist>
