<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>copyright.S</key>
		<string>copyright.S_.glif</string>
		<key>dollar.S</key>
		<string>dollar.S_.glif</string>
		<key>eight.Dnom</key>
		<string>eight.D_nom.glif</string>
		<key>five.Dnom</key>
		<string>five.D_nom.glif</string>
		<key>numbersign.S</key>
		<string>numbersign.S_.glif</string>
		<key>period.Sups</key>
		<string>period.S_ups.glif</string>
		<key>pmAleph</key>
		<string>pmA_leph.glif</string>
		<key>seven.Dnom</key>
		<string>seven.D_nom.glif</string>
		<key>six.Dnom</key>
		<string>six.D_nom.glif</string>
		<key>sterling.S</key>
		<string>sterling.S_.glif</string>
		<key>two.S</key>
		<string>two.S_.glif</string>
		<key>yen.S</key>
		<string>yen.S_.glif</string>
	</dict>
</plist>
