<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>COMBINING_MARKS</key>
		<array>
			<string>gravecmb</string>
			<string>gravecmb.cap</string>
			<string>acutecmb</string>
			<string>acutecmb.cap</string>
			<string>circumflexcmb</string>
			<string>circumflexcmb.cap</string>
			<string>tildecmb</string>
			<string>tildecmb.cap</string>
			<string>macroncmb</string>
			<string>macroncmb.cap</string>
			<string>brevecmb</string>
			<string>brevecmb.cap</string>
			<string>dotaccentcmb</string>
			<string>dotaccentcmb.cap</string>
			<string>dieresiscmb</string>
			<string>dieresiscmb.cap</string>
			<string>ringcmb</string>
			<string>ringcmb.cap</string>
			<string>hungarumlautcmb</string>
			<string>hungarumlautcmb.cap</string>
			<string>caroncmb</string>
			<string>caroncmb.cap</string>
			<string>downtackbelowcmb</string>
			<string>dotbelowcmb</string>
			<string>cedillacmb</string>
			<string>brevebelowcmb</string>
			<string>macronbelowcmb</string>
		</array>
		<key>public.kern1.CYR_ACYR_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ACYR_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ACYR_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_BE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_DJE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_DJE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_DJE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_DZE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_DZE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_DZE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_EF_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_EF_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ER_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ER_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ES_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ES_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ES_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_GHE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_GHE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_GHE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_HA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_HA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_HA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IUKRAN_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IZHITSA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IZHITSA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_IZHITSA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_JE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_JE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_JE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_KA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_KA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_KA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ROUND_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ROUND_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_ROUND_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_SOFT_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_SOFT_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_SOFT_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_STRAIGHT_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_STRAIGHT_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_STRAIGHT_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TSE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TSE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TSE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TSHE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TSHE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_TSHE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_UCYR_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_UCYR_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_UCYR_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_VE_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_VE_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_VE_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_YAT_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.CYR_YAT_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ALPHA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ALPHA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ALPHA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_BETA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_BETA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_BETA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_CHI_LC_LEFT</key>
		<array>
			<string>chi</string>
		</array>
		<key>public.kern1.GRK_CHI_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_CHI_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_DELTA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_DELTA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_DELTA_UC_LEFT</key>
		<array>
			<string>Delta.math</string>
		</array>
		<key>public.kern1.GRK_DIGAMMA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_EPSILON_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_EPSILON_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_EPSILON_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ETA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_GAMMA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_GAMMA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_GAMMA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_IOTA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_KAPPA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_KAPPA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_KAPPA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_LAMBDA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_NU_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_OMEGA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_OMEGA_UC_LEFT</key>
		<array>
			<string>Omega.math</string>
		</array>
		<key>public.kern1.GRK_PHI_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_PHI_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_PSI_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_PSI_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_QUESTION_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_RHO_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_RHO_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ROUND_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ROUND_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ROUND_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_SAMPI_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_SIGMA_END_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_SIGMA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_SIGMA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_SIGMA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_STIGMA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_STRAIGHT_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_STRAIGHT_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_TAU_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_TAU_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_TAU_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_THETA_LC_LEFT</key>
		<array>
			<string>theta</string>
		</array>
		<key>public.kern1.GRK_UPSILON_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_UPSILON_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_UPSILON_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_XI_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_XI_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_XI_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ZETA_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ZETA_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.GRK_ZETA_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_A_LC_LEFT</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aring</string>
			<string>atilde</string>
		</array>
		<key>public.kern1.LAT_A_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_A_UC_LEFT</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern1.LAT_B_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_B_UC_LEFT</key>
		<array>
			<string>B</string>
			<string>Blinebelow</string>
		</array>
		<key>public.kern1.LAT_C_LC_LEFT</key>
		<array>
			<string>c</string>
			<string>ccaron</string>
			<string>ccedilla</string>
		</array>
		<key>public.kern1.LAT_C_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_C_UC_LEFT</key>
		<array>
			<string>C</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
		</array>
		<key>public.kern1.LAT_DCROAT_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_D_LC_LEFT</key>
		<array>
			<string>d</string>
			<string>ddotbelow</string>
			<string>dlinebelow</string>
		</array>
		<key>public.kern1.LAT_ETH_LC_LEFT</key>
		<array>
			<string>eth</string>
		</array>
		<key>public.kern1.LAT_EZH_LC_LEFT</key>
		<array>
			<string>ezh</string>
		</array>
		<key>public.kern1.LAT_E_LC_LEFT</key>
		<array>
			<string>e</string>
			<string>ae</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>oe</string>
			<string>aturned</string>
		</array>
		<key>public.kern1.LAT_E_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_E_UC_LEFT</key>
		<array>
			<string>E</string>
			<string>AE</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>OE</string>
		</array>
		<key>public.kern1.LAT_F_LC_LEFT</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.LAT_F_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_F_UC_LEFT</key>
		<array>
			<string>F</string>
		</array>
		<key>public.kern1.LAT_GERMANDBLS_LC_LEFT</key>
		<array>
			<string>germandbls</string>
		</array>
		<key>public.kern1.LAT_GERMANDBLS_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_GERMANDBLS_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_G_LC_LEFT</key>
		<array>
			<string>g</string>
			<string>gcaron</string>
			<string>gdotaccent</string>
			<string>gmacron</string>
		</array>
		<key>public.kern1.LAT_G_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_G_UC_LEFT</key>
		<array>
			<string>G</string>
			<string>Gcaron</string>
			<string>Gdotaccent</string>
			<string>Gmacron</string>
		</array>
		<key>public.kern1.LAT_HBAR_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_HBAR_UC_LEFT</key>
		<array>
			<string>Hbar</string>
		</array>
		<key>public.kern1.LAT_H_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_H_UC_LEFT</key>
		<array>
			<string>H</string>
			<string>Hbrevebelow</string>
			<string>Hdotbelow</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
		</array>
		<key>public.kern1.LAT_I_ALT_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_I_LC_LEFT</key>
		<array>
			<string>i</string>
			<string>fi</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>imacron</string>
		</array>
		<key>public.kern1.LAT_I_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_I_UC_LEFT</key>
		<array>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>Imacron</string>
		</array>
		<key>public.kern1.LAT_J_LC_LEFT</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern1.LAT_J_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_J_UC_LEFT</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern1.LAT_K_LC_LEFT</key>
		<array>
			<string>k</string>
			<string>klinebelow</string>
			<string>kdotbelow</string>
		</array>
		<key>public.kern1.LAT_K_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_K_UC_LEFT</key>
		<array>
			<string>K</string>
			<string>Kdotbelow</string>
			<string>Klinebelow</string>
		</array>
		<key>public.kern1.LAT_LCARON_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_LCARON_SC_LCARON_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_LCARON_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_LDOT_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_LSLASH_LC_LEFT</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern1.LAT_L_LC_LEFT</key>
		<array>
			<string>l</string>
			<string>fl</string>
		</array>
		<key>public.kern1.LAT_L_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_L_UC_LEFT</key>
		<array>
			<string>L</string>
			<string>Lslash</string>
		</array>
		<key>public.kern1.LAT_N_LC_LEFT</key>
		<array>
			<string>n</string>
			<string>h</string>
			<string>hbar</string>
			<string>hbrevebelow</string>
			<string>hdotbelow</string>
			<string>m</string>
			<string>ntilde</string>
			<string>hlinebelow</string>
		</array>
		<key>public.kern1.LAT_OHORN_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_OHORN_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_OHORN_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_ORDFEMININE_LEFT</key>
		<array>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>public.kern1.LAT_O_LC_LEFT</key>
		<array>
			<string>o</string>
			<string>b</string>
			<string>blinebelow</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>p</string>
			<string>schwa</string>
			<string>thorn</string>
			<string>oopen</string>
		</array>
		<key>public.kern1.LAT_O_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_O_UC_LEFT</key>
		<array>
			<string>O</string>
			<string>D</string>
			<string>Ddotbelow</string>
			<string>Dlinebelow</string>
			<string>Eth</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Q</string>
			<string>Schwa</string>
		</array>
		<key>public.kern1.LAT_P_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_P_UC_LEFT</key>
		<array>
			<string>P</string>
		</array>
		<key>public.kern1.LAT_RETROFLEX_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_R_LC_LEFT</key>
		<array>
			<string>r</string>
		</array>
		<key>public.kern1.LAT_R_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_R_UC_LEFT</key>
		<array>
			<string>R</string>
		</array>
		<key>public.kern1.LAT_S_LC_LEFT</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>sdotbelow</string>
		</array>
		<key>public.kern1.LAT_S_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_S_UC_LEFT</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Sdotbelow</string>
		</array>
		<key>public.kern1.LAT_THORN_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_THORN_UC_LEFT</key>
		<array>
			<string>Thorn</string>
		</array>
		<key>public.kern1.LAT_T_LC_LEFT</key>
		<array>
			<string>t</string>
			<string>tdotbelow</string>
			<string>tlinebelow</string>
		</array>
		<key>public.kern1.LAT_T_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_T_UC_LEFT</key>
		<array>
			<string>T</string>
			<string>Tdotbelow</string>
			<string>Tlinebelow</string>
		</array>
		<key>public.kern1.LAT_UHORN_LC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_UHORN_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_UHORN_UC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_U_LC_LEFT</key>
		<array>
			<string>u</string>
			<string>alphalatin</string>
			<string>dotlessi</string>
			<string>gscript</string>
			<string>q</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>umacron</string>
			<string>rsmallinverted</string>
		</array>
		<key>public.kern1.LAT_U_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_U_UC_LEFT</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Umacron</string>
		</array>
		<key>public.kern1.LAT_V_LC_LEFT</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern1.LAT_V_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_V_UC_LEFT</key>
		<array>
			<string>V</string>
		</array>
		<key>public.kern1.LAT_W_LC_LEFT</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern1.LAT_W_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_W_UC_LEFT</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern1.LAT_X_LC_LEFT</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern1.LAT_X_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_X_UC_LEFT</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern1.LAT_Y_LC_LEFT</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>gammalatin</string>
		</array>
		<key>public.kern1.LAT_Y_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_Y_UC_LEFT</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern1.LAT_Z_LC_LEFT</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
			<string>zdotbelow</string>
			<string>zlinebelow</string>
		</array>
		<key>public.kern1.LAT_Z_SC_LEFT</key>
		<array>
		</array>
		<key>public.kern1.LAT_Z_UC_LEFT</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
			<string>Zdotbelow</string>
			<string>Zlinebelow</string>
		</array>
		<key>public.kern1.NUM_ZERO_LEFT</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern1.PCT_BRACELEFT_LEFT</key>
		<array>
			<string>braceleft</string>
			<string>bracketleft</string>
			<string>parenleft</string>
		</array>
		<key>public.kern1.PCT_COLON_LEFT</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern1.PCT_COMMA_LEFT</key>
		<array>
			<string>comma</string>
			<string>ellipsis</string>
			<string>period</string>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
		</array>
		<key>public.kern1.PCT_EMDASH_LEFT</key>
		<array>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>sfthyphen</string>
		</array>
		<key>public.kern1.PCT_EXCLAM_LEFT</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern1.PCT_GUILLEFT_LEFT</key>
		<array>
			<string>guillemotleft</string>
			<string>guilsinglleft</string>
		</array>
		<key>public.kern1.PCT_GUILRIGHT_LEFT</key>
		<array>
			<string>guillemotright</string>
			<string>guilsinglright</string>
		</array>
		<key>public.kern1.PCT_PERCENT_LEFT</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern1.PCT_QUESTION_LEFT</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern1.PCT_QUOTELEFT_LEFT</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
			<string>ringhalfleftmod</string>
		</array>
		<key>public.kern1.PCT_QUOTERIGHT_LEFT</key>
		<array>
			<string>quoteright</string>
			<string>quotedblright</string>
			<string>ringhalfrightmod</string>
		</array>
		<key>public.kern1.PCT_QUOTE_LEFT</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>public.kern2.CYR_ACYR_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ACYR_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ACYR_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_BE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_CHE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_CHE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_CHE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DJE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DZE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DZE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_DZE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ECYR_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_EF_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_EF_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_EL_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_EL_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_EL_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ER_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_HA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_HA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_HA_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_IUKRAN_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_IZHITSA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_IZHITSA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_IZHITSA_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_JE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_JE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_JE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ROUND_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ROUND_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ROUND_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_STRAIGHT_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_STRAIGHT_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_STRAIGHT_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_TE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_TE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_TE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_UCYR_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_UCYR_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_UCYR_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_YAT_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_YAT_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_YAT_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_YA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_YA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_YA_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ZE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ZE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ZE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ZHE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ZHE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.CYR_ZHE_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ALPHA_ACC_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ALPHA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ALPHA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ALPHA_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_BETA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_CHI_LC_RIGHT</key>
		<array>
			<string>chi</string>
		</array>
		<key>public.kern2.GRK_CHI_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_CHI_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_DELTA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_DELTA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_DELTA_UC_RIGHT</key>
		<array>
			<string>Delta.math</string>
		</array>
		<key>public.kern2.GRK_EPSILON_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ETA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_GAMMA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_IOTA_ACC_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_IOTA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_LAMBDA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_MU_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_NU_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_OMEGA_ACC1_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_OMEGA_ACC2_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_OMEGA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_OMEGA_UC_RIGHT</key>
		<array>
			<string>Omega.math</string>
		</array>
		<key>public.kern2.GRK_PHI_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_PHI_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_PSI_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_PSI_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_QUESTION_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_RHO_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ROUND_ACC1_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ROUND_ACC2_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ROUND_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ROUND_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ROUND_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_SAMPI_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_SIGMA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_SIGMA_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_STRAIGHT_ACC1_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_STRAIGHT_ACC2_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_STRAIGHT_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_STRAIGHT_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_TAU_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_TAU_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_TAU_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_THETA_LC_RIGHT</key>
		<array>
			<string>theta</string>
		</array>
		<key>public.kern2.GRK_UPSILON_ACC1_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_UPSILON_ACC2_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_UPSILON_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_UPSILON_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_UPSILON_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_XI_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_XI_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_XI_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ZETA_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ZETA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.GRK_ZETA_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_AE_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_AE_UC_RIGHT</key>
		<array>
			<string>AE</string>
		</array>
		<key>public.kern2.LAT_A_LC_RIGHT</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>ae</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aring</string>
			<string>atilde</string>
		</array>
		<key>public.kern2.LAT_A_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_A_UC_RIGHT</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern2.LAT_DCROAT_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_DCROAT_UC_RIGHT</key>
		<array>
			<string>Eth</string>
		</array>
		<key>public.kern2.LAT_ETH_LC_RIGHT</key>
		<array>
			<string>eth</string>
		</array>
		<key>public.kern2.LAT_F_LC_RIGHT</key>
		<array>
			<string>f</string>
			<string>fi</string>
			<string>fl</string>
		</array>
		<key>public.kern2.LAT_GERMANDBLS_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_GERMANDBLS_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_G_LC_RIGHT</key>
		<array>
			<string>g</string>
			<string>gcaron</string>
			<string>gdotaccent</string>
			<string>gmacron</string>
		</array>
		<key>public.kern2.LAT_HBAR_LC_RIGHT</key>
		<array>
			<string>hbar</string>
		</array>
		<key>public.kern2.LAT_HBAR_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_HBAR_UC_RIGHT</key>
		<array>
			<string>Hbar</string>
		</array>
		<key>public.kern2.LAT_H_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_H_UC_RIGHT</key>
		<array>
			<string>H</string>
			<string>B</string>
			<string>Blinebelow</string>
			<string>D</string>
			<string>Ddotbelow</string>
			<string>Dlinebelow</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>F</string>
			<string>Hbrevebelow</string>
			<string>Hdotbelow</string>
			<string>K</string>
			<string>Kdotbelow</string>
			<string>Klinebelow</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>P</string>
			<string>R</string>
			<string>Thorn</string>
		</array>
		<key>public.kern2.LAT_I_ALT_UC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_I_LC_RIGHT</key>
		<array>
			<string>i</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>imacron</string>
		</array>
		<key>public.kern2.LAT_I_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_I_UC_RIGHT</key>
		<array>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>Imacron</string>
		</array>
		<key>public.kern2.LAT_J_LC_RIGHT</key>
		<array>
			<string>j</string>
			<string>esh</string>
		</array>
		<key>public.kern2.LAT_J_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_J_UC_RIGHT</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern2.LAT_LSLASH_LC_RIGHT</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern2.LAT_LSLASH_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_LSLASH_UC_RIGHT</key>
		<array>
			<string>Lslash</string>
		</array>
		<key>public.kern2.LAT_L_LC_RIGHT</key>
		<array>
			<string>l</string>
			<string>b</string>
			<string>blinebelow</string>
			<string>germandbls</string>
			<string>h</string>
			<string>hbrevebelow</string>
			<string>hdotbelow</string>
			<string>k</string>
			<string>klinebelow</string>
			<string>thorn</string>
			<string>hlinebelow</string>
			<string>kdotbelow</string>
		</array>
		<key>public.kern2.LAT_NAPOSTROPHE_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_N_LC_RIGHT</key>
		<array>
			<string>n</string>
			<string>dotlessi</string>
			<string>m</string>
			<string>ntilde</string>
			<string>p</string>
			<string>r</string>
			<string>rsmall</string>
		</array>
		<key>public.kern2.LAT_O_LC_RIGHT</key>
		<array>
			<string>o</string>
			<string>alphalatin</string>
			<string>c</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>d</string>
			<string>ddotbelow</string>
			<string>dlinebelow</string>
			<string>e</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>gscript</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>oe</string>
			<string>ograve</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>q</string>
		</array>
		<key>public.kern2.LAT_O_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_O_UC_RIGHT</key>
		<array>
			<string>O</string>
			<string>C</string>
			<string>G</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Gcaron</string>
			<string>Gdotaccent</string>
			<string>Gmacron</string>
			<string>OE</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Q</string>
		</array>
		<key>public.kern2.LAT_RTURNED_LC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_SCHWA_LC_RIGHT</key>
		<array>
			<string>schwa</string>
		</array>
		<key>public.kern2.LAT_SCHWA_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_SCHWA_UC_RIGHT</key>
		<array>
			<string>Schwa</string>
		</array>
		<key>public.kern2.LAT_S_LC_RIGHT</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>sdotbelow</string>
		</array>
		<key>public.kern2.LAT_S_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_S_UC_RIGHT</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Sdotbelow</string>
		</array>
		<key>public.kern2.LAT_T_LC_RIGHT</key>
		<array>
			<string>t</string>
			<string>tdotbelow</string>
			<string>tlinebelow</string>
		</array>
		<key>public.kern2.LAT_T_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_T_UC_RIGHT</key>
		<array>
			<string>T</string>
			<string>Tdotbelow</string>
			<string>Tlinebelow</string>
		</array>
		<key>public.kern2.LAT_U_LC_RIGHT</key>
		<array>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>umacron</string>
			<string>aturned</string>
		</array>
		<key>public.kern2.LAT_U_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_U_UC_RIGHT</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Umacron</string>
		</array>
		<key>public.kern2.LAT_V_LC_RIGHT</key>
		<array>
			<string>v</string>
		</array>
		<key>public.kern2.LAT_V_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_V_UC_RIGHT</key>
		<array>
			<string>V</string>
		</array>
		<key>public.kern2.LAT_W_LC_RIGHT</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern2.LAT_W_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_W_UC_RIGHT</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern2.LAT_X_LC_RIGHT</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern2.LAT_X_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_X_UC_RIGHT</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern2.LAT_Y_LC_RIGHT</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>gammalatin</string>
		</array>
		<key>public.kern2.LAT_Y_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_Y_UC_RIGHT</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern2.LAT_Z_LC_RIGHT</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
			<string>zdotbelow</string>
			<string>zlinebelow</string>
		</array>
		<key>public.kern2.LAT_Z_SC_RIGHT</key>
		<array>
		</array>
		<key>public.kern2.LAT_Z_UC_RIGHT</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
			<string>Zdotbelow</string>
			<string>Zlinebelow</string>
		</array>
		<key>public.kern2.NUM_ZERO_RIGHT</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern2.PCT_BRACERIGHT_RIGHT</key>
		<array>
			<string>braceright</string>
			<string>bracketright</string>
			<string>parenright</string>
		</array>
		<key>public.kern2.PCT_COLON_RIGHT</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern2.PCT_COMMA_RIGHT</key>
		<array>
			<string>comma</string>
			<string>ellipsis</string>
			<string>period</string>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
		</array>
		<key>public.kern2.PCT_EMDASH_RIGHT</key>
		<array>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>sfthyphen</string>
		</array>
		<key>public.kern2.PCT_EXCLAM_RIGHT</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern2.PCT_GUILLEFT_RIGHT</key>
		<array>
			<string>guillemotleft</string>
			<string>guilsinglleft</string>
		</array>
		<key>public.kern2.PCT_GUILRIGHT_RIGHT</key>
		<array>
			<string>guillemotright</string>
			<string>guilsinglright</string>
		</array>
		<key>public.kern2.PCT_ORDFEMININE_RIGHT</key>
		<array>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>public.kern2.PCT_PERCENT_RIGHT</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern2.PCT_QUESTION_RIGHT</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern2.PCT_QUOTELEFT_RIGHT</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
			<string>ringhalfleftmod</string>
		</array>
		<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
		<array>
			<string>quoteright</string>
			<string>quotedblright</string>
			<string>ringhalfrightmod</string>
		</array>
		<key>public.kern2.PCT_QUOTE_RIGHT</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
	</dict>
</plist>
